<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<title>Order App</title>
	</head>
	<body>
		<div class="row container">
			<div class="row center-align">
				<h1>New Order</h1>
			</div>
		    <form class="col s12" method="POST">
		      <div class="row">
		        <div class="input-field col s6 offset-s3">
		          <input id="table_no" type="number" class="validate" name="table_no">

		          <label for="table_no">Table Number</label>
		        </div>
		        
		      <div class="input-field col s6 offset-s3">
			    <select multiple name="item_list2">
			    	 <option value="" disabled selected>Choose your option</option>
			      
			        <option value=" Paneer Tikka">Paneer Tikka</option>
			        <option value=" Veg Kolhapuri">Veg Kolhapuri</option>
			      
			        <option value=" Chicken Masala">Chicken Masala</option>
			        <option value=" Butter Chicken">Butter Chicken</option>
			     
			    </select>
			    <label>Materialize Multiple Select</label>
			  </div>

		      <div class="row">
			      <div class="center-align col s12">
			          <button class="waves-effect waves-light btn green submit-button" type="submit" name="submit" value="">Add your order
			            <i class="fa fa-paper-plane left" aria-hidden="true"></i>
			          </button>
			      </div>
			    </div>
		      
		    </form>
		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	    <script type="text/javascript">
	    	$(document).ready(function() {
			    $('select').material_select();
			  });
	    </script>
	</body>
</html>
