<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<title>Order App</title>
	</head>
	<body style="background-color: #1B2737;">
		<div class="row container">
			<div class="row center-align">
				<h1 style="color: white">All Orders</h1>
			</div>
			<div class="row">
			<% if (orders.length){ %>
			    <% orders.forEach(function(order){ %>
			      
		        <div class="col s12 m6">
		          <div class="card  white">
		            <div class="card-content black-text">
		              <span class="card-title">Table No: <%= order.table_no %></span>
		              <h5><%= order.item_list2 %></h5>
		              <p>Ordered At: <%= order.ordered_at %></p>
		              
		            </div>
		          </div>
		        </div>
			      
			    <% }) %>
			<% } else { %>
			 	
		        <div class="col s12">
		          <div class="card blue-grey darken-1">
		            <div class="card-content white-text">
		              <span class="card-title">No orders yet</span>
		              <p>All orders covered</p>
		            </div>
		            
		          </div>
		        </div>
			   
			 <% } %>
			 </div>
			 <div class="center-align">
			 	<a class="btn " href="/new-order">Create a new order!</a>
			 </div>

		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	</body>
</html>






